@import "vars";
@import "global";
@import "fonts";
//start header
.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text {
    margin-left: auto;
    margin-right: 50px;
    span {
        color: $red;
        margin-right: 4px;
    }
}

.header__btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 12px;
    line-height: 24px;
    &-login {
        background-color: $green;
    }
    &-register,
    &-logout {
        background-color: $red;
        margin-left: 7px;
    }
}
.header__btn-login--off {
    display: none;
}
.header__btn-logout {
    display: none;
    &.header__btn-login--on {
        display: block;
    }
}
.header__menu {
    background-color: $bg;
}
.menu {
    display: flex;
    height: 60px;
    align-items: center;
}

.menu__list {
    li {
        display: inline-block;
        a {
            color: #fff;
            font-size: 14px;
        }
        & + li {
            margin-left: 30px;
        }
    }
}
.header__circle {
    &.active {
        display: block;
    }
    display: none;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #a0a0a0;
        font-size: 14px;
    }
    span {
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        font-size: 11px;
        text-align: center;
        line-height: 18px;
        top: -7px;
        right: -7px;
        color: #fff;
    }
}
.notification {
    span {
        background-color: $orange;
    }
}

.header__box {
    display: flex;
    background-color: #fff;
    height: 90px;
    align-items: center;
}
.message {
    span {
        background-color: $green;
    }
}
.basket {
    margin-right: 20px;
    span {
        background-color: $tomate;
    }
}

.user {
    margin-right: 25px;
    padding-right: 20px;
    position: relative;
    &::before {
        position: absolute;
        content: "\f107";
        font-size: 16px;
        font-family: "icomoon";
        line-height: 24px;
        right: 0;
        top: -2px;
        color: #707070;
    }
    &__inner {
        display: flex;
        align-items: center;
    }
    &__images {
        margin-right: 15px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        overflow: hidden;
    }
    &__info {
        font-size: 14px;
        line-height: 24px;
    }
    &__name {
        @include f500;
        color: #222;
    }
    &__money {
        color: $green;
        @include f700;
    }
}

.user__menu {
    background-color: #fff;
    border: 0px solid #d5d5d5;
    position: absolute;
    padding: 0;
    width: 158px;
    top: 69px;
    left: 20px;
    transition: all 0.3s;
    height: 0;
    overflow: hidden;

    a {
        font-size: 12px;
        color: #546e7a;
        line-height: 36px;
        margin-bottom: 8px;
    }
}

.circle__menu {
    top: 62px;
    position: absolute;
    right: -11px;
    overflow: hidden;
    height: 0;
    transition: all 0.3s;
}
.user__box,
.basket__box,
.notification__box,
.message__box {
    position: relative;
    height: 90px;
    margin-top: 40px;
    &:hover {
        .user__menu {
            border-width: 1px;
            padding: 15px 20px;
            height: auto;
            overflow: auto;
        }
    }
}

.basket__box,
.notification__box,
.message__box {
    margin-top: 55px;
    margin-left: 15px;
    &:hover {
        .header__circle::before {
            color: $bg;
        }
        .circle__menu {
            height: auto;
            overflow: hidden;
        }
        .circle__item {
            padding: 23px 23px;
            border-width: 1px;
        }
    }
}

.notification__menu,
.message__menu {
    .circle__images {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 20px;
    }
    .circle__info {
        line-height: 18px;
    }
}

.circle__item {
    background-color: #fff;
    border: 0px solid #e0e0e0;
    padding: 0 23px;
    transition: all 0.3s;
    display: flex;
    border-left-width: 1px;
    border-right-width: 1px;
    align-items: center;
    width: 269px;
    position: relative;
    &::before {
        position: absolute;
        top: 27px;
        right: 28px;
        color: #b0bec5;
        font-size: 16px;
    }
}

.icons__color::before {
    color: $tomate;
}
.circle__images {
    margin-right: 15px;
}

.circle__info-name {
    @include f500;
    color: $bg;
}
.circle__info-thema {
    color: $green;
}
.circle__info-price {
    @include f500;
    color: #000;
    font-size: 16px;
}
.circle__info-date {
    color: #838383;
    font-size: 10px;
}
.basket__summ {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 16px 17px 12px;
    &-total,
    &-price {
        color: $bg;
        padding-left: 13px;
        padding-right: 22px;
        font-size: 16px;
        @include f700;
    }
}
.basket__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.basket__btn {
    background-color: $green;
    color: #fff;
    font-size: 14px;
    @include f700;
    text-align: center;
    padding: 10px 12px;
    width: 100px;
    &-checkout {
        background-color: $red;
        width: 122px;
        margin-left: 6px;
    }
}

.header__btn-menu,
.header__menu-btn {
    display: none;
}
//end header

//start modal
#modal {
    background-color: $green;
    max-width: 730px;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 100px;
    height: 485px;
}

.login__title {
    margin-bottom: 42px;
    text-align: center;
    font-size: 48px;
    @include f700;
    color: #fff;

    text-transform: uppercase;
}

.login__wrapper {
    form {
        max-width: 400px;
        margin: 0 auto;
        button {
            margin-top: 19px;
            width: 140px;
            padding: 18px 16px;
            background-color: #fff;
            font-size: 14px;
            @include f700;
            text-align: center;
            border: none;
            box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
            text-transform: uppercase;
        }
    }
    label {
        position: relative;
        &::before {
            position: absolute;
            font-family: "icomoon";
            font-size: 14px;
            color: #fff;
            left: 18px;
            top: 9px;
            z-index: 1;
        }
    }
    .login__label-name::before {
        content: "\f007";
    }
    .login__label-pass::before {
        content: "\f023";
    }
    input {
        margin-bottom: 8px;
        height: 43px;
        border: none;
        background-color: #76ae36;
        color: #fff;
        font-size: 14px;
        padding-left: 40px;
        display: block;
        width: 100%;
        outline: none;
        &::placeholder {
            color: #fff;
            font-size: 14px;
        }
    }
}

.lost-pass {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
}
.create-acc {
    margin-top: 19px;
    width: 250px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 65px;
    background-color: #76ae36;
    font-size: 18px;
    text-align: left;
    position: relative;
    border: none;
    margin-left: 5px;
    color: #fff;
    &::before {
        position: absolute;
        color: #fff;
        font-size: 14px;
        content: "\f044";
        left: 36px;
        font-family: "icomoon";
    }
}

//end modal
//start search
.search {
    min-height: 532px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.search__inner {
    padding: 148px 0 100px;
    text-align: center;
    color: #fff;
    &-title {
        font-size: 48px;
        line-height: 72px;
        @include f700;
        margin-bottom: 19px;
    }
    &-text {
        font-size: 20px;
        line-height: 30px;
        @include f500;
        margin-bottom: 52px;
    }
    &-form {
        max-width: 670px;
        margin: 0 auto;
        position: relative;

        input {
            display: block;
            width: 100%;
            border: none;
            border-radius: 4px;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            height: 56px;
            font-size: 14px;
            line-height: 30px;
            @include f500;
            padding-left: 25px;
            padding-right: 60px;
            outline: none;
            &::placeholder {
                color: #90a4ae;
            }
        }
        button {
            position: absolute;
            background-color: transparent;
            border: none;
            top: 16px;
            right: 20px;
        }
    }
}
//end search
//start products
.products {
    padding: 110px 0;
    background-color: $grey;
}
.products__inner-btn {
    text-align: center;
    align-items: center;
    margin-bottom: 60px;
    button {
        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
        padding: 10px 18px;
        border: none;
        color: $bg;
        background-color: #fff;
        cursor: pointer;
        outline: none;
        & + button {
            margin-left: 6px;
        }
    }
}
.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product__item {
    max-width: 420px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    &-img {
        display: block;
        min-height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        min-height: 90px;
        @include f500;
    }
    &-name {
        max-width: 310px;
    }
    &-title {
        display: block;
        color: $bg;
        font-size: 18px;
    }
    &-category {
        display: block;
        color: $green;
        font-size: 14px;
    }
    &-price {
        color: $bg;
        font-size: 20px;
        @include f700;
    }
    &-info {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #e7ecf2;
        min-height: 70px;
        padding: 10px 30px;
        align-items: center;
    }
    &-author {
        display: flex;
        align-items: center;
        max-width: 230px;
        span {
            font-size: 14px;
            @include f500;
        }
        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            display: inline-block;
            margin-right: 14px;
        }
    }
    &-star {
        font-size: 12px;
        span {
            color: $bg;
        }
    }
}
.products__bottom-btn {
    text-align: center;
    button {
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        margin: 45px 5px 0;
        padding: 18px 36px;
        border: none;
        color: $bg;
        background-color: #fff;
        cursor: pointer;
        outline: none;
        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
    }
}
//end products
//start product-slider
.product-slider {
    padding: 110px 0 120px;
    .slick-dots {
        margin-top: 28px;
        text-align: center;
        li {
            display: inline-block;
            button {
                border-radius: 50%;
                border: none;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
                outline: none;
                background-color: rgb(240, 240, 240);
            }
            & + li {
                margin-left: 7px;
            }
            &.slick-active {
                button {
                    background-color: $green;
                }
            }
        }
    }
}
//end product-slider

//start advantages
.advantages {
    background-color: $bg;
    min-height: 615px;
    padding: 110px 0;
    &__title {
        color: #fff;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}
.advantages__item {
    text-align: center;
    max-width: 370px;
    padding: 0 15px;

    &:hover {
        .advantages__item-images {
            background-color: $green;
        }
        .advantages__item-title {
            color: $green;
        }
        g {
            transition: all 0.5s;
            fill: #fff;
        }
    }
    &-images {
        width: 114px;
        height: 114px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition: all 0.5s;
    }
    &-title {
        color: #fff;
        margin-bottom: 25px;
        @include f500;
        font-size: 24px;
        transition: all 0.5s;
    }
    &-text {
        color: #8c999f;
    }
}
.icosvg-1 {
    svg {
        width: 50px;
    }
}
.icosvg-2 {
    svg {
        width: 70px;
    }
}
.icosvg-3 {
    position: relative;
    svg {
        position: absolute;
        width: 90px;
        top: 25px;
    }
}
//end advantages

//start author
.author {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 750px;
    justify-content: center;
    display: flex;
    align-items: center;
    &__box {
        background-color: $green;
        max-width: 650px;
        width: 100%;
        min-height: 215px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__title {
        font-size: 30px;
        line-height: 30px;
        color: #fff;
        margin-right: 45px;
        max-width: 280px;
        span {
            @include f700;
        }
    }
    &__link {
        color: $bg;
        font-size: 18px;
        line-height: 36px;
        width: 225px;
        height: 64px;
        background-color: #fff;
        padding: 14px 40px;
    }
}
//end author

//start tutorials
.tutorials {
    min-height: 655px;
    background-color: #fff;
    color: $bg;
    padding: 60px 0 120px;
    &__title {
        font-size: 36px;
        line-height: 60px;
        @include f700;
        margin-bottom: 45px;
        text-align: center;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}

.tutorials__item {
    max-width: 370px;
    width: 100%;
    & + .tutorials__item {
        margin-left: 30px;
    }
    &-image {
        min-height: 270px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &-title {
        font-size: 24px;
        line-height: 60px;
        text-align: center;
        @include f700;
        background-color: #f8f8f8;
        padding: 20px 10px;
    }
}
//end tutorials
//start footer
.footer {
    background-color: $bg;
    &__inner {
        display: flex;
        padding: 100px 0 80px;
        justify-content: space-between;
    }
}
.footer__content {
    min-height: 490px;
}
.footer__copy {
    min-height: 75px;
    border-top: 1px solid #424d53;
    padding: 15px 0;
}
.footer__copy-text {
    font-size: 15px;
    line-height: 36px;
    text-align: center;
    color: #919699;
}

.footer__col {
    max-width: 270px;
    width: 100%;
    &-menu {
        max-width: 220px;
    }
    &-title {
        font-size: 22px;
        color: #fff;
        font-family: "Raleway", sans-serif;
        padding-bottom: 27px;
        margin-bottom: 30px;
        position: relative;
        &::before {
            content: "";
            height: 3px;
            bottom: 0;
            left: 2px;
            width: 50px;
            position: absolute;
            background-color: $green;
        }
    }
    &-text {
        color: #b7c3c8;
        margin-bottom: 30px;
    }
}

.footer-info {
    color: #fff;
    margin-top: 18px;
    @include f500;
    padding-left: 30px;
    position: relative;
    &::before {
        content: "\f041";
        font-family: "icomoon";
        color: $green;
        position: absolute;
        font-size: 18px;
        left: 0;
    }
}
.footer-info-phone {
    &::before {
        content: "\f095";
    }
}

.footer__col-list {
    position: relative;

    a {
        margin-bottom: 15px;
        color: #b7c3c8;
        padding-left: 22px;
    }
}

.footer__social-link {
    margin-bottom: 35px;
    li {
        display: inline-block;
        & + li {
            margin-left: 7px;
        }
    }
    a {
        width: 28px;
        height: 28px;
        background-image: url(../images/icons/css_sprites.png);
    }
}

.link-facebook {
    background-position: 0px 0;
}
.link-twitter {
    background-position: -28px 0;
}
.link-youtube {
    background-position: -0px 28px;
}
.link-pinterest {
    background-position: -28px 28px;
}
.link-linkledin {
    background-position: -56px 0;
}

.footer__form {
    position: relative;
    &-title {
        color: #fff;
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 36px;
    }

    input {
        padding-left: 13px;
        padding-right: 50px;
        border: none;
        color: #fff;
        display: block;
        font-size: 14px;
        width: 100%;
        height: 40px;
        outline: none;
        background-color: #2f3c43;
        &::placeholder {
            color: #697378;
        }
    }
    button {
        width: 43px;
        height: 40px;
        background-color: $green;
        outline: none;
        cursor: pointer;
        position: absolute;
        right: 0;
        bottom: 0;
        border: none;
        &::before {
            content: "\f124";
            font-family: "icomoon";
            position: absolute;
            font-size: 20px;
            color: #fff;
            top: 11px;
            left: 13px;
        }
    }
}

//end footer

.separator {
    min-height: 190px;
}

@import "media";
